* {
    padding: 0;
    margin: 0;
    max-width: 98%;
}

.lower-row-css {
    padding: 5px;
}

.card {
    display: inline-block;
    box-shadow: 0 5px 15px 0 rgba(204, 204, 204, 0.5);
    width: 100%;
    padding: 25px 20px;
    position: relative;
}

.flexibility2 {
    display: inline;
    padding: 15px;
    margin: 0 15px 15px 15px;
}

.style-uper-row {
    padding: 30px 10px;
    margin: 10px;
}

.style-lower-row {
    padding: 30px 10px;
    margin-left: 9px;
    margin-bottom: 0px;
}

.style-graph-column {
    padding: 15px;
    margin-left: 40px;
    margin-top: 20px;
}